<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
 <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <label for="balance">Balance</label>
    <input type="text" th:field="*{balance}" id="balance" placeholder="Balance">
    <input type="submit" value="Create User">
</form>
</body>
</html>